<ion-view title="Home" name="menuContent">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content padding="'true'" class="has-header">
      <h2>Home!</h2>
        <div class="spacer" style="height: 100px;"></div>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="go('/page8/page7')">Signup</button>
            <button class="button button-stable button-block " ng-click="go('/page8/page6')">Login</button>
            <button class="button button-stable button-block " ng-click="go('/page8/page5a')">Picture</button>
        </div>
    </ion-content>
</ion-view>
