<ion-view title="Picture">
    <ion-content padding="'true'" class="has-header">
      <h2>Picture!</h2>
        <img src="img/FR8MqB0QoCubNOn5fxhg_sadbear.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="spacer" style="height: 100px;"></div>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="go('/sidemenu/page5')">Home</button>
            <button class="button button-stable button-block ">nothing</button>
            <button class="button button-stable button-block ">not either</button>
        </div>
    </ion-content>
</ion-view>
